:root{
    --background: #3D4849; 

}
html{
    scroll-behavior: smooth;

}

body{
    background-color: var(--background);
    color: white;
    font: 1.9rem Inconsolata, monospace;
}


header h1{
    text-align: center;
    color: white;
    vertical-align: middle;
    font: 1.9rem Inconsolata, monospace;

}

nav{
    text-align: center;
    font-size: 60%;
    margin-top: 10px;
    vertical-align: middle;
    color: white;
}

.previous_work{
    text-align: center;
    color: white;
    display: block;
    font: 1.3rem Inconsolata, monospace;
    font-size: 55%;
    margin-top: 10px;
    
}

footer{
    text-align: center;
    font-size: 0.8em;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    clear: both;
    margin-top: 450px;
}

a {
    color: white;

}
a img{

    display: inline-block;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 10px;

}

.first_image{
    flex-direction: row;
    margin-top: 10px;
    width: 400px;
    height: 400px;
    position: relative;
    vertical-align: middle;
}


.image_text{
    position: relative;
    bottom: 20px;
    left: 17px;
    font-size: 40%;
    word-wrap: normal;
}

.about_me{
    font-size: 55%;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;

}

.about_me h1{
    font-size: 55%;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    font: 1.3rem Inconsolata, monospace;

}

.about_me p {
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    font: Inconsolata, monospace;
    font-size: 1rem;
    display: inline-block;
    padding-right: 250px;
    padding-left: 250px;
}

a img:hover{
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.8);
    background: var(--background);
    padding: 15px 40px;
    border-radius: 4px;

}


@media screen and (max-width: 750px) {
    .first_image,
    .about_me
    {
      font-size: 0.5rem;
    }
  }

  @media screen and (max-width: 900px) {
    a img
    {
        margin-left: 85px;
        margin-right: 85px;
    }
  }