:root{
    --background: #3D4849; 

}
html{
    scroll-behavior: smooth;
    overflow: scroll;

}

body{
    background-color: var(--background);

}


header h1{
    text-align: center;
    color: white;
    vertical-align: middle;
    font: 1.9rem Inconsolata, monospace;

}

nav{
    text-align: center;
    font-size: 60%;
    margin-top: 10px;
    vertical-align: middle;
    color: white;
}

.previous_work{
    text-align: center;
    color: white;
    display: block;
    font: 1.3rem Inconsolata, monospace;
    font-size: 55%;
    margin-top: 10px;
    
}

#aboutme{
    color: white;
    font: 1.9rem Inconsolata, monospace;
    flex-wrap: wrap;


}


footer{
    text-align: center;
    font-size: 0.8em;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    clear: both;
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:180px;
}

a {
    color: white;

}
a img{

    display: inline-block;
    margin-left: 650px;
    margin-top: 10px;

}

.first_image{
    flex-direction: row;
    margin-top: 10px;
    width: 400px;
    height: 400px;
    position: relative;
    vertical-align: middle;
}


.image_text{
    position: relative;
    bottom: 20px;
    left: 17px;
    font-size: 40%;
    word-wrap: normal;
}

.about_me{
    font-size: 55%;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;

}

.about_me h1{
    font-size: 55%;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    font: 1.3rem Inconsolata, monospace;

}

.about_me p {
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    font: Inconsolata, monospace;
    font-size: 1rem;
    display: inline-block;
    padding-right: 250px;
    padding-left: 250px;
}

a img:hover{
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.8);
    background: var(--background);
    padding: 15px 40px;
    border-radius: 4px;

}

.pfp{
    background-image: url("../assets/images/dredd.jpg");
    background-size: contain;
    width: 230px;
    height: 230px;
    position: absolute;
    display: block;
    border-radius: 50%;

}


.pfp:hover, .hide_ss13{
    padding: 15px 40px;
    border-style: solid;
    border-color: cyan;

} 

#contact_me{
    text-align: center;
    font-size: 0.8em;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    clear: both;


}

#previous{
    font: 1.3rem Inconsolata, monospace;


}

#wrapper .text {
    position:absolute;
    bottom:30px;
    margin-left: 575px;
    visibility:hidden;
    font-size: 0.8rem;
    word-wrap: break-word;
    display: inline-block;
    }
    
    #wrapper:hover .text {
    visibility:visible;
    display: inline-block;
    }

#wrapper .text_two {
    position:absolute;
    bottom:30px;
    margin-left: 575px;
    margin-bottom: -190px;
    visibility:hidden;
    font-size: 0.8rem;
    word-wrap: break-word;
        }

#wrapper:hover .text_two {
    visibility:visible;
     }
     
#wrapper .text_three {
    position:absolute;
    top:720px;
    margin-left: 575px;
    visibility:hidden;
    font-size: 0.8rem;
    word-wrap: normal;
            }
    
#wrapper:hover .text_three {
    visibility:visible;}   

@media screen and (max-width: 750px) {
    .first_image,
    .about_me
    {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 900px) {
    a img
    {
        margin-left: 110px;
    }
  }

  @media screen and (max-width: 899px) {
    .pfp
    {
        margin-bottom: 50px;
        margin-left: 5px;
    }
  }

  @media screen and (max-width: 898px) {
    .text, .text_two, .text_three
    {   right: 300px;

    }
    }

    @media screen and (max-width: 780px) {
        .pfp
        {
            margin-bottom: 50px;
            margin-left: 5px;
            transform: scale(0.75, 0.75);
        }
      }


      .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        background-color: #3d4249;
        font: 1.3rem Inconsolata, monospace;
        color: white;
}

#card-link{
background-color: var(--background);
border: 1px solid var(--background);
border-radius: 15%;
text-align: center;
margin-left: 43px;

}


#card-link:hover{
    background-color: #493d48;


}


#card-link-ss13{
    background-color: var(--background);
    border: 1px solid var(--background);
    border-radius: 10%;
    text-align: center;
    margin-left: 37%;
    
    }

    #card-link-ss13:hover{
        background-color: #493d48;


    }